body{
    background-color: blanchedalmond;
}

.square{
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.666%;
}

#container{
    width: 60%;
    margin: 0 auto;
}

h1{
    color: cornflowerblue;
}

#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
}